<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bit Nexus Footer</title>
  </head>
  <body>
    <footer
      class="bg-warning d-flex flex-wrap justify-content-between align-items-center mt-large py-3"
    >
      <div>
        <p class="mx-5 link-offset-3 footer">
          This website was created using the
          <a href="https://www.blockchain.com/explorer/api/exchange_rates_api" target="_blank"
            >Blockchain Exchange Rates API</a
          >
          to request data on BTC exchange rates. I also used
          <a href="https://nodejs.org/en" target="_blank">Node.js</a> and
          <a href="https://expressjs.com/" target="_blank">Express.js</a>, and
          <a href="https://ejs.co/" target="_blank">EJS</a> for the backend, and the website
          is currently hosted on GitHub. For the frontend, I used
          <a href="https://getbootstrap.com/" target="_blank"
            >Bootstrap v5.3.7</a
          >, and added custom styling through an external CSS file. The
          LinkedIn, GitHub, and Instagram icons were downloaded from
          <a href="https://svgrepo.com" target="_blank">svgrepo.com</a> and are
          free to use with an CC0 or MIT License. Lastly, the background image
          was created by
          <a
            href="https://unsplash.com/@kanchanara?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            >Kanchanara</a
          >
          on
          <a
            href="https://unsplash.com/photos/gold-round-coin-on-black-surface-Lta5b8mPytw?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            >Unsplash</a
          >.
        </p>
      </div>
      <div class="ms-5 col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-body-secondary"
          >© <%= new Date().getFullYear() %> Raymond Mi</span
        >
      </div>

      <%# Important Note! In EJS, all file paths are made in reference to the
      folder you use for static files. This is referenced in index.js:
      app.use(express.static("public")) <-- in this case, the public folder
      holds static files %>
      <ul
        class="nav col-md-4 mt-2 me-5 justify-content-end list-unstyled d-flex"
      >
        <li class="ms-3 me-2">
          <a
            class="text-body-secondary"
            href="https://github.com/rayCoder08"
            aria-label="Github"
            target="_blank"
            ><img
              src="images/github-142-svgrepo-com.svg"
              alt="Github icon"
              height="35px"
          /></a>
        </li>
        <li class="ms-3 me-2">
          <a
            class="text-body-secondary"
            href="https://linkedin.com"
            aria-label="Linkedin"
            target="_blank"
            ><img
              src="images/linkedin-svgrepo-com.svg"
              alt="Instagram icon"
              height="35px"
          /></a>
        </li>
        <li class="ms-3 me-2">
          <a
            class="text-body-secondary"
            href="https://instagram.com/raymond.mi.0822/"
            aria-label="Instagram"
            target="_blank"
            ><img
              src="images/instagram-svgrepo-com.svg"
              alt="Instagram icon"
              height="35px"
          /></a>
        </li>
      </ul>
    </footer>
  </body>
</html>
